<h2> General </h2>
<ul>
  <li> <a href="https://lobste.rs"> Lobste.rs </a> </li>
  <li> <a href="https://news.ycombinator.com"> Hacker News </a> </li>
  <li> <a href="https://niu.moe"> Niu.moe </a> </li>
</ul>

<h2> Reddit </h2>
<ul>
  <li> <a href="https://reddit.com/r/korea"> /r/korea </a> </li>
  <li> <a href="https://reddit.com/r/korean"> /r/korean </a> </li>
  <li> <a href="https://reddit.com/r/tf2"> /r/tf2 </a> </li>
</ul>

<h2> Music </h2>
<ul>
  <li> <a href="https://open.spotify.com/view/gaming-releases"> Spotify VGM </a> </li>
</ul>

<h2> Slack </h2>
<ul>
  <li> <a href="https://elmlang.slack.com/messages/C192T0Q1E/"> ElmLang </a> </li>
  <li> <a href="https://catamorphiclabs.slack.com/messages"> Catamorphic Labs </a> </li>
  <li> <a href="https://peoplebest.slack.com/messages/C5DPYCDBM"> PeopleBest </a> </li>
</ul>
